@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<CulinariaShare.Models.Usuario>

@{
    ViewData["Title"] = "Lista de Usuarios";
}
<br />
<br />
<div class="container">
    <h1 class="text-center my-4">Lista de Usuarios</h1>

    <table class="table table-bordered table-hover shadow">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model[0].Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Email)
                </th>
               
               
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                   
                   
                </tr>
            }
        </tbody>
    </table>

    <div class="d-flex justify-content-center">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions
   {
       LiElementClasses = new[] { "page-item" },
       PageClasses = new[] { "page-link" }
   })
    </div>
</div>
